{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/service_detail.css' %}">
{% endblock %}

{% block content %}"
<body>
   
    <main class="container p-5 white my-5 shadow-lg">
        <section class="row text-center">
            <article class="col-12">
                <h1 class="mb-5">Alojamiento</h1>
                <img src="{% static 'img/hotel-1330850_1920-1598132585.jpg' %}" alt="Alojamiento"
                    class="img-fluid shadow-lg">
            </article>
            <article class="col-12 text-start p-5 bg-dark text-light shadow-lg">
                <h2>Descripción</h2>
                <p>
                    Experimenta un confort excepcional durante tu estancia en Fast Hotel. Nuestras habitaciones bien equipadas y nuestro servicio de primera garantizan una experiencia inolvidable. ¡Reserva ahora y disfruta de nuestra hospitalidad excepcional!
                </p>
            </article>
            <article class="col-12 text-start p-5 border shadow-lg my-5">
                <h2>Calidad y Confort</h2>
                <p>
                    En Fast Hotel, nos comprometemos a proporcionarte una experiencia de alojamiento excepcional. Nuestras habitaciones están cuidadosamente diseñadas para ofrecerte la máxima comodidad y conveniencia durante tu estancia.
                </p>
                <p>
                    Desde habitaciones elegantes hasta suites espaciosas, cada detalle ha sido pensado para asegurar que te sientas como en casa. Además, nuestro equipo dedicado está siempre disponible para atender cualquier solicitud y garantizar que tu estancia sea perfecta en todos los sentidos.
                </p>
            </article>
            <article class="col-12 text-start p-5">
                <h2>Testimonios</h2>
                <hr>
            </article>
            <hr>
        </section>
        <section class="row justify-content-center ">
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border p-5 m-3 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker.png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">¡La mejor experiencia gastronómica que he tenido!</p>
                <p>María López</p>
            </article>
    
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border m-3 p-5 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker (1).png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">¡Ambiente increíble y comida excepcional!</p>
                <p>Javier García</p>
            </article>
    
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border m-3 p-5 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker (2).png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">¡Volveré pronto para disfrutar de más deliciosos platos!</p>
                <p>Elena Rodríguez</p>
            </article>
        </section>
    </main>
{% endblock %}