{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/service_detail.css' %}">
{% endblock %}

{% block content %}
</head>

<body>
    <main class="container p-5 white my-5 shadow-lg">
        <section class="row text-center">
            <article class="col-12">
                <h1 class="mb-5">Eventos y Reuniones</h1> 
                <img src="{% static 'img/nh-collection-murano-villa-meeting-rooms-classroom-setup-7358x4910.jpg' %}" alt="arte exhibición"
                    class="img-fluid shadow-lg w-80">             
            </article>
            <article class="col-12 my-5">


            </article>
            <article class="col-12 text-start p-5 bg-dark text-light shadow-lg">
                <h2>Descripción</h2>
                <hr>
                <p>
                    Organiza tu próximo evento o reunión con nosotros y hazlo inolvidable. Nuestros espacios para eventos flexibles y nuestro equipo profesional de planificación garantizan que cada detalle de tu reunión se lleve a cabo sin problemas. Deja una impresión duradera con nosotros.
                </p>
            </article>
            <article class="col-12 text-start p-5 border shadow-lg mt-5">
                <h2>Seguridad</h2>
                <hr>
                <p>
                    La seguridad de nuestros clientes es nuestra máxima prioridad en Fast Hotel.
                    Nos comprometemos a proporcionar un entorno seguro y protegido para que todos los asistentes puedan disfrutar plenamente de su evento o reunión. Para lograr esto, contamos con un equipo de seguridad altamente capacitado y profesional que estará presente en todo momento durante tu evento.
                </p>
                <p>
                    Nuestro equipo de seguridad se encargará de supervisar todas las áreas del evento, incluyendo la entrada y salida, los espacios de reunión, las áreas de descanso y las zonas de alimentos y bebidas. Estarán disponibles para ayudar en caso de emergencias, proporcionar asistencia a los asistentes que lo necesiten y garantizar el cumplimiento de las normas y regulaciones de seguridad.
                </p>
                <p>
                    Además, hemos implementado medidas de seguridad adicionales, como sistemas de vigilancia, puntos de control de acceso y protocolos de respuesta rápida ante situaciones de emergencia. Trabajamos en estrecha colaboración con las autoridades locales y los servicios de emergencia para garantizar la seguridad y el bienestar de todos los asistentes a tu evento o reunión en Fast Hotel.
                </p>
                <p>
                    Puedes confiar en nosotros para organizar tu evento o reunión con total tranquilidad, sabiendo que estamos comprometidos con tu seguridad y que tomamos todas las precauciones necesarias para garantizar una experiencia segura y exitosa para todos los participantes.
                </p>
            </article>
            <article class="col-12 text-start p-5">
                <h2>Testimonios</h2>
                <hr>
            </article>
            <hr>
        </section>
        <section class="row justify-content-center ">
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border p-5 m-3 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker.png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">¡La mejor experiencia gastronómica que he tenido!</p>
                <p>María López</p>
            </article>
    
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border m-3 p-5 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker (1).png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">¡Ambiente increíble y comida excepcional!</p>
                <p>Javier García</p>
            </article>
    
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border m-3 p-5 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker (2).png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">¡Volveré pronto para disfrutar de más deliciosos platos!</p>
                <p>Elena Rodríguez</p>
            </article>
        </section>
    </main>
{% endblock %}