{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style>body {
    background-color: rgb(244, 248, 253);

}</style>
{% endblock %}

{% block content %}


<body>
	<main class="container my-5">

		<section class="row  text-center">
			<header class="col-12 mt-5 text-start">
				<h1>Fast Hotel</h1>
				<p></p>
			</header>

			<div class="col-lx-4 col-xxl-4 col-lg-12 col-md-12 col-sm-12 mt-5 text-start">
				<h2 class="mb-4">Contáctanos</h2>
				<p class="text-justify">Si tienes alguna pregunta o consulta, no dudes en ponerte en
					contacto con nosotros. Estaremos encantados de ayudarte y
					proporcionarte toda la información necesaria sobre nuestro
					hotel. Puedes llamarnos, enviarnos un correo
					electrónico o completar nuestro formulario de contacto en línea y nos
					pondremos en contacto contigo lo antes posible. ¡Esperamos verte pronto
					en Fast Hotel!</p>
			</div>

			<div
				class="col-lx-8 col-xxl-8 col-lg-12 col-md-12 col-sm-12 mt-4 text-lx-start p-0 text-lg-start text-md-start text-sm-start justify-content-start!important align-items-start">
				<form action="submit_form.php" method="post">
					<input type="text" id="name" name="name" placeholder="Nombre..." required>
					<br>
					<br>

					<input type="email" id="email" name="email" placeholder="Correo..." required>
					<br>
					<br>

					<input type="text" id="subject" name="subject" placeholder="Asunto..." required>
					<br>
					<br>

					<textarea id="message" name="message" rows="4" placeholder="Mensaje..." required></textarea>
					<br>
					<br>

					<button type="button" class="btn btn-primary mt-2">Enviar</button>
				</form>
			</div>
		</section>

	</main>
{% endblock %}