{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/index_header.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<style>


.section .section-center {
	position: absolute;
	top: 65%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	background: rgba(133, 104, 73, 0.33);
}

.booking-form {
	position: relative;
	max-width: 912px;
	width: 100%;
	margin: auto;
	background: #ffffff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}

.booking-form .booking-bg {
	position: absolute;
	left: 25px;
	top: -25px;
	bottom: -25px;
	width: 400px;
	background-image: url('../img/paralax/hotel_room_2-wallpaper-3554x1999.jpg');
	background-size: cover;
	background-position: center;
	padding: 25px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.booking-form .booking-bg::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.229);
	box-shadow: 10px 10px  black;
}

.booking-form>form {
	margin-left: 425px;
	padding: 30px;
}

.booking-form .form-header {
	margin-bottom: 30px;
	margin-top: 60px;
	position: relative;
	z-index: 20;
}

.booking-form .form-header h2 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 900;
	color: #000000;
	text-shadow: 3px 3px  3px rgb(196, 199, 220);
	font-size: 42px;
	text-transform: capitalize;
}

.booking-form .form-header p {
	color: #000000;
	font-size: 18px;
	text-shadow: 3px 3px  3px rgb(196, 199, 220);

}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 45px;
	padding: 0px 15px;
	color: #151515;
	border: 1px solid #e5e5e5;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #e5e5e5;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #e5e5e5;
}

.booking-form .form-control::placeholder {
	color: #e5e5e5;
}

.booking-form .form-control:focus {
	background: #f8f8f8;
}

.booking-form input[type="date"].form-control:invalid {
	color: #e5e5e5;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control:invalid {
	color: #e5e5e5;
}

.booking-form select.form-control option {
	color: #151515;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 3px;
	bottom: 5px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #e5e5e5;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #000000;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
}

.booking-form .form-btn {
	margin-top: 30px;
}

.booking-form .submit-btn {
	display: block;
	width: 100%;
	color: #ffffff;
	background-color: #0d6efd;
	font-weight: 700;
	font-size: 18px;
	border: none;
	border-radius: 40px;
	height: 55px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
	.booking-form .booking-bg {
		position: relative;
		background-color: rgba(255, 255, 255, 0);
		left: 0;
		right: 0;
		top: -0px;
		width: 95%;
		margin: auto;
		display: none;
	}
	.booking-form>form {
		margin-left: 0px;
	}

	.booking-form {
	position: relative;
	max-width: 512px;
	margin-top: 25px;
	width: 100%;
	margin: auto;
	background: #ffffff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}
.sizebaby {
	font-size: 40px;
}

.hide {
	display: none;
}
}


</style>
{% endblock %}

{% block content %}
		<div class="container-image">

			<div class="parallax">

			</div>
			<div class="centered_text sizebaby">Fast Hotel Andorra</div>
			<div id="booking" class="section">
				<div class="section-center">
					<div class="container">
						<div class="row">
							<div class="booking-form">
								<div class="booking-bg">
									<div class="form-header">
										<h2>¡Reserva tu estancia!</h2>
										<p>Experimenta una hospitalidad excepcional en Fast Hotel Andorra. Sumérgete en momentos memorables de confort, lujo y servicio excepcional.</p>
									</div>
								</div>
								<form action="{% url 'booking_step' %}" method="post">
									{% csrf_token %}
									<input type="hidden" name="form_source" value="index">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Check In</span>
												<input class="form-control" id="check_in_date" name="check_in_date" type="date" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Check Out</span>
												<input class="form-control" id="check_out_date" name="check_out_date" type="date" required>
											</div>
										</div>
									</div>
									{% if error_message %}
									<div class="alert alert-danger">
										{{ error_message }}
									</div>
									{% endif %}
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Adultos</span>
												<select id="adults" name="adults" class="form-control">
													<option>1</option>
													<option>2</option>
													<option>3</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Niños</span>
												<select id="children" name="children" class="form-control">
													<option>0</option>
													<option>1</option>
													<option>2</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
									</div>
									<div class="form-btn">
										<button type="submit" class="submit-btn">Ver disponibilidad</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<div class="container mb-5">
		<section class="row bg-dark text-light py-5 bottom_round mb-5 shadow-lg">
			<div class="col-12 text-center">
				<h1 class="display-3 mb-4">Servicios de lujos!</h1>
				<p>Sumérgete en una experiencia de hospitalidad sin igual. Únete a nosotros para disfrutar de momentos memorables de confort, lujo y servicio excepcional.</p>
				<p>¿Estás listo para vivir una estancia inolvidable?</p>
			</div>
		</section>
		
		</section>
		<section class="row mt-4 justify-content-center ">
			<article class="col-11 align-items-start m-3 p-4">
				<a href="{% url 'services' %}"
					class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">

					<h1>Que puedes esperar de nosotros?</h1>
				</a>
			</article>
			<article
				class=" shadow-sm col-lg-5 col-xl-5 col-xxl-5 col-md-11 col-sm-11 rounded-4 gray d-flex flex-column align-items-start m-3 p-3">
				<h5>Experiencia de Lujo</h5>
				<p class="justify-text">Sumérgete en una experiencia de lujo y sofisticación en nuestro exclusivo hotel, donde encontrarás una combinación única de comodidad, elegancia y servicio excepcional.</p>
			</article>
			<article
				class=" shadow-sm col-lg-5 col-xl-5 col-xxl-5 col-md-11 col-sm-11 rounded-4 gray d-flex flex-column align-items-start m-3 p-3">
				<h5>Galería de Arte</h5>
				<p class="justify-text">Explora nuestra galería de arte cuidadosamente curada, que presenta obras de artistas locales e internacionales reconocidos en diversas disciplinas. Disfruta de la belleza y la inspiración que ofrecen estas obras de arte excepcionales.</p>
			</article>
			<article
				class=" shadow-sm col-lg-5 col-xl-5 col-xxl-5 col-md-11 col-sm-11 rounded-4 gray d-flex flex-column align-items-start m-3 p-3">
				<h5>Actividades Culturales</h5>
				<p class="justify-text">Aprovecha nuestras actividades culturales y creativas, diseñadas para despertar tu curiosidad y nutrir tu espíritu artístico. Participa en talleres de arte, clases de cocina gourmet	 y recorridos por la ciudad para descubrir su rica historia y cultura.</p>
			</article>
			<article
				class=" shadow-sm col-lg-5 col-xl-5 col-xxl-5 col-md-11 col-sm-11 rounded-4 gray d-flex flex-column align-items-start m-3 p-3">
				<h5>Encuentra Tu Paz Interior</h5>
				<p class="justify-text">Encuentra tu paz interior y rejuvenece tu mente, cuerpo y espíritu con nuestras experiencias de bienestar y relajación. Desde sesiones de yoga al amanecer hasta tratamientos de spa indulgentes.</p>
			</article>
		</section>
		
		
	</div>


	<main class="container-fluid  blue">
		<!-- 
        <section class="row justify-content-center  bg-dark p-5">
			<h1 class="pl-5 pr-5 pt-5 pb-3 text-center color swedish_change_me">Experiencias</h1>
			<p class="mb-5 text-center swedish_change_me ">Disfrute de experiencias irrepetibles en sus vacaciones de la mano de Grand Plaza Hotel & Wellness.

			</p>
			<div class="row">
				<div class="col-md-6 col-lg-3 mb-4">
					<div class="card bg-dark text-white">
						<img src="{% static 'img/experiencias/experience-wellness.jpg' %}" class="card-img" alt="Image 1">
						<div class="card-img-overlay">
							<h2 class="card-title">Spa & Wellness</h2>
							<p class="card-text">Relax and rejuvenate with our spa treatments and wellness programs.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 mb-4">
					<div class="card bg-dark text-white">
						<img src="{% static 'img/experiencias/experience-food.jpg' %}" class="card-img" alt="Image 2">
						<div class="card-img-overlay">
							<h2 class="card-title">Outdoor Adventures</h2>
							<p class="card-text">Explore the breathtaking landscapes with our guided outdoor activities.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 mb-4">
					<div class="card bg-dark text-white">
						<img src="{% static 'img/experiencias/experience-food.jpg' %}" class="card-img" alt="Image 3">
						<div class="card-img-overlay">
							<h2 class="card-title">Fine Dining</h2>
							<p class="card-text">Indulge in exquisite culinary experiences at our fine dining restaurants.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 mb-4">
					<div class="card bg-dark text-white">
						<img src="{% static 'img/experiencias/experience-food.jpg' %}" class="card-img" alt="Image 4">
						<div class="card-img-overlay">
							<h2 class="card-title">Concierge Services</h2>
							<p class="card-text">Let our concierge team assist you in planning your perfect stay.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
-->
		<section class="row my-5">
		</section>
 

		<div class="container">

			<section class="row  align-items-center mb-5">
				
				<article class="col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 p-5">
					<h1 class="mb-4">
						Explora la Serenidad en Fast Hotel: Un Refugio de Tranquilidad y Bienestar</h1>
					<p>Adéntrate en el oasis de paz que es Fast Hotel, donde hemos creado un santuario dedicado al yoga y 
						la tranquilidad. Descubre cómo nuestro hotel se ha convertido en un destino de primer nivel, ofreciendo una 
						experiencia excepcional que combina elegancia, comodidad y servicio de alta calidad para brindar una estancia inigualable.</p>
					<ul>
						<li>Retiro de Yoga de Clase Mundial</li>
						<li>Tranquilidad en Cada Rincón</li>
					</ul>
					<a href="{% url 'services' %}"><button type="button" class="btn btn-primary btn-lg mt-3">Leer más</button></a>
				</article>

				<article
					class=" col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 order-md-first order-sm-first order-first">
					<img src="{% static 'img/yoga.img' %}" class="rounded mx-auto d-block"
						alt="Music art">
				</article>

			</section>

			<section class="row  align-items-center">

				<article class="col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 p-5 text-lg-end text-start">
					<h1 class="mb-4">Viaja en las Delicias de Fast Hotel: Una Experiencia Multisensorial</h1>
					<p>Fast Hotel te lleva en un viaje culinario único, fusionando exquisitos sabores con el 
						arte y la innovación. Sumérgete en una experiencia donde la gastronomía, el arte y la creatividad se entrelazan 
						para ofrecerte momentos inolvidables.</p>
					<ul class="dot_right">
						<li>Gastronomía Innovadora</li>
						<li>Innovación en Experiencias</li>
					</ul>
					<a href="{% url 'restaurant' %}"><button type="button" class="btn btn-primary btn-lg mt-3">Leer
							más</button></a>
				</article>

				<article
					class=" col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 order-lg-last order-xl-last order-xxl-last order-sm-first order-md-first order-first ">
					<img src="{% static 'img/Food/image1.jpg' %}" class="rounded mx-auto d-block" alt="Music art">
				</article>

			</section>

		</div>
		<div class="container-fluid blue">
			<div class="row">
				<div class="col my-5"></div>
			</div>
		</div>
	</main>

	
	
	<aside class="special borde bg-dark hide">
		<div class="container">
			<div class="row my-5">
				<div class="col-12">
					<a href="{% url 'services' %}" class="text-center">
						<h2 class="display-5  text-light mt-4">Habitaciones</h2>
					</a>
				</div>
			</div>
			<div class="row my-5 justify-content-lg-center justify-content-xl-between justify-content-xxl-between">
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
					<ol class="carousel-indicators">
						<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
						<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
						<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="d-flex justify-content-center mlr">
								<div class="col-lg-12 col-xl-3 col-xxl-3 col-md-12 col-sm-12 col-xs-12 my-5">
									<div class="card mx-auto align-items-center ">
										<div class="image">
											<img src="{% static 'img/suits/biolc-deluxe-guestroom-6547-hor-clsc.png' %}">
										</div>
										<h3 class="m-0">Single</h3>
										<div class="content">
											<p>Disfruta de la comodidad y elegancia de nuestra habitación individual. Perfecta para aquellos que buscan privacidad y confort durante su estancia en Fast Hotel.</p>
											<a href="artist.html#brandy-section">
												<button type="button" class="btn btn-primary btn-lg mt-3">Leer más</button>
											</a>
	
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="d-flex justify-content-center mlr"> 
								<div class="col-lg-12 col-xl-3 col-xxl-3 col-md-12 col-sm-12 col-xs-12 my-5">
									<div class="card mx-auto align-items-center ">
										<div class="image">
											<img src="{% static 'img/suits/biolc-premium-sparoom-8961-hor-clsc.png' %}">
										</div>
										<div class="title">
											<h3 class="m-0">Double</h3>
										</div>
										<div class="content">
											<p>Sumérgete en el lujo y la exclusividad de nuestras suites. Diseñadas para ofrecerte una experiencia inolvidable, nuestras suites son el lugar perfecto para relajarte y recargar energías.</p>
											<a href="artist.html#madoona-section">
												<button type="button" class="btn btn-primary btn-lg mt-3">Leer más</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="d-flex justify-content-center mlr"> 
								<div class="col-lg-12 col-xl-3 col-xxl-3 col-md-12 col-sm-12 col-xs-12 my-5 ">
									<div class="card mx-auto align-items-center">
										<div class="image">
											<img href="#" src="{% static 'img/suits/biolc-premium-sparoom-8964-hor-clsc.png' %}">
										</div>
										<div class="title">
											<h3 class="m-0">Suite</h3>
										</div>
										<div class="content">
											<p>Experimenta el lujo y la amplitud de nuestras suites junior. Con un diseño moderno y todas las comodidades que puedas desear, nuestras junior suites son el refugio perfecto.</p>
											<a href="artist.html#glenn-danzig-section">
												<button type="button" class="btn btn-primary btn-lg mt-3">Leer más</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
	
	
				<div class="col-12 my-5">
					<p></p>
				</div>
	
			</div>
		</div>
	</aside>
	

	<div class="container">
		<div class="row my-5">
			<div class="col-12">

			</div>
		</div>
	</div>

	<div class="container-fluid my-5">
		<div class="row">
			<div class="col">
				<section id="price-section">
					<div class="container">
						<div class="row justify-content-center gapsectionsecond">
							<div class="col-lg-7 text-center">
								<div class="title-big pb-3 mb-3">
									<h1>¡Reserva Ahora Nuestras Habitaciones Más Solicitadas!</h1>
								</div>
								<p class="description-p text-muted pe-0 pe-lg-0">
									Asegura tu estancia en Fast Hotel, un lugar donde la elegancia y la comodidad se unen
									para brindarte una experiencia inolvidable. Reserva ahora y disfruta de nuestra
									hospitalidad excepcional.
								</p>
							</div>
						</div>
						<div class="row pt-5">
							<div class="col-lg-4 pb-5 pb-lg-0">
								<div class="wrap-price">
									<div class="price-innerdetail text-center">
										<h2 class="display-3">Single</h2>
										<p class="prices">50€ por día</p>
										<div class="detail-pricing">
											<span class="float-left"><i class="bi bi-check2-circle margin_top"></i>
												Acceso a la habitación individual</span>
										</div>
										<div class="detail-pricing">
											<span class="float-left"><i class="bi bi-check2-circle margin_top"></i>
												Servicio de atención al cliente básico</span>
										</div>
										<a href="{% url 'booking_step' %}" class="btn btn-secondary mt-5">Reservar ahora</a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 pb-5 pb-lg-0">
								<div class="wrap-price center-wrap">
									<div class="price-innerdetail text-center ">
										<h2 class="display-3">Double</h2>
										<p class="prices">90€ por día</p>
										<div class="detail-pricing">
											<span class="float-left"><i class="bi bi-check2-circle margin_top"></i>
												Acceso a la habitación doble</span>
										</div>
										<div class="detail-pricing">
											<span class="float-left"><i class="bi bi-check2-circle margin_top"></i>
												Servicio de atención al cliente básico</span>
										</div>
										<a href="{% url 'booking_step' %}" class="btn btn-secondary mt-5">Reservar ahora</a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 pb-5 pb-lg-0">
								<div class="wrap-price">
									<div class="price-innerdetail text-center">
										<h2 class="display-3">Suite</h2>
										<p class="prices">140€ por día</p>
										<div class="detail-pricing">
											<span class="float-left"><i class="bi bi-check2-circle margin_top"></i>
												Acceso a la suite</span>
										</div>
										<div class="detail-pricing">
											<span class="float-left"><i class="bi bi-check2-circle margin_top"></i>
												Servicio de atención al cliente premium</span>
										</div>
										<a href="{% url 'booking_step' %}" class="btn btn-secondary mt-5">Reservar ahora</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row my-5">
			<div class="col-12">

			</div>
		</div>
	</div>
	<script>
		$(function() {
		$('input[name="daterange"]').daterangepicker({
			opens: 'left',
			minDate: moment(), // Set the minimum date to today
			startDate: moment() // Set the initial date selection to today
		}, function(start, end, label) {
			console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
		});
		});

		$(function() {
		$('input[name="daterange"]').daterangepicker({
			opens: 'left',
			minDate: moment(), 
			startDate: moment() 
		}, function(start, end, label) {
			console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
		});
		});

		function increment(id) {
			let input = document.getElementById(id);
			input.value = parseInt(input.value) + 1;
		}

		function decrement(id) {
			let input = document.getElementById(id);
			if (input.value > 0) {
				input.value = parseInt(input.value) - 1;
			}
		}

		document.addEventListener('DOMContentLoaded', function() {
			var today = new Date().toISOString().split('T')[0];
			document.getElementById('check_in_date').setAttribute('min', today);
			document.getElementById('check_out_date').setAttribute('min', today);

		});


</script>

{% endblock %}