{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/service_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

{% block content %}
<body>
    <main class="container p-5 white my-5 shadow-lg">
        <section class="row text-center">
            <article class="col-12">
                <h1 class="mb-5">Restaurante del Hotel</h1>
                <img src="{% static 'img/TOO_restaurant_Panoramique_vue_Paris_nuit_v2-scaled.jpg' %}" alt="Restaurante"
                    class="img-fluid shadow-lg">
            </article>
            <article class="col-12 text-start p-5  bg-dark text-light shadow-lg">
                <h2>Descripción</h2>
                <p>
                    Embárcate en un viaje culinario en nuestro restaurante en el hotel. Desde el desayuno hasta la cena, nuestro menú elaborado por chefs ofrece una variedad de platos preparados con ingredientes frescos. Únete a nosotros para una experiencia gastronómica exquisita sin salir del hotel.
                </p>
            </article>
            <article class="col-12 text-start p-5 border shadow-lg my-5">
                <h2>Calidad y Sabor</h2>
                <p>
                    Disfruta de la calidad excepcional y el sabor delicioso en cada plato que servimos en nuestro restaurante. Nuestros chefs expertos utilizan solo los ingredientes más frescos y de la más alta calidad para ofrecerte una experiencia culinaria inolvidable.
                </p>
                <p>
                    Desde platos tradicionales hasta creaciones innovadoras, nuestro menú está diseñado para satisfacer todos los paladares y para garantizar una experiencia gastronómica que deleitará tus sentidos.
                </p>
            </article>
            <article class="col-12 text-start p-5">
                <h2>Testimonios</h2>
                <hr>
            </article>
            <hr>
        </section>
        <section class="row justify-content-center ">
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border p-5 m-3 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker.png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">¡La mejor experiencia gastronómica que he tenido!</p>
                <p>María López</p>
            </article>
    
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border m-3 p-5 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker (1).png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">¡Ambiente increíble y comida excepcional!</p>
                <p>Javier García</p>
            </article>
    
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border m-3 p-5 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker (2).png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">¡Volveré pronto para disfrutar de más deliciosos platos!</p>
                <p>Elena Rodríguez</p>
            </article>
        </section>
    </main>
{% endblock %}
