{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
{% endblock %}

{% block content %}
    <main class="container">

        <section class="row mt-4 justify-content-center mb-5">
            <article class="col-11 align-items-start m-3 p-4">
                <h1>Servicios Ofrecidos</h1>
            </article>
        </section>

        <section class="row  align-items-center my-5 bg-dark text-light shadow-lg">

            <article class="col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 p-5 text-justify">
                <h1 class="mb-5">Alojamiento:</h1>
                <p>Experimenta un confort excepcional durante tu estancia en Fast Hotel. 
                    Nuestras habitaciones bien equipadas y nuestro servicio de primera garantizan una experiencia inolvidable. ¡Reserva ahora y disfruta de 
                    nuestra hospitalidad excepcional!</p>
                <a href="{% url 'alojamiento' %}"><button class="btn bg-primary mt-4 text-light">Leer más</button></a>
            </article>

            <article
                class=" col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 order-md-first order-sm-first order-first p-5 ">
                <img src="{% static 'img/services/Accommodation-Triton-Lastovo-Exterior.jpg' %}"
                    class="rounded mx-auto d-block text-end" alt="Accommodation">
            </article>

        </section>

        <section class="row  align-items-center my-5 white shadow-lg">

            <article class="col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 p-5 text-lg-end p-5 text-justify">
                <h1 class="text-justify mb-4">Restaurante:</h1>
                <p class="text-justify">Embárcate en un viaje culinario en nuestro restaurante en el hotel. 
                    Desde el desayuno hasta la cena, nuestro menú elaborado por chefs ofrece una variedad de platos preparados con ingredientes frescos. 
                    Únete a nosotros para una experiencia gastronómica exquisita sin salir del hotel.</p>
                    <div class="text-start">
                        <a href="{% url 'restaurant' %}"><button class="btn bg-primary mt-4 text-light">Leer más</button></a>
                    </div>
            </article>

            <article
                class="col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 p-5 order-lg-last order-xl-last order-xxl-last order-sm-first order-md-first order-first ">
                <img src="{% static 'img/services/HV-Dining-900--900x900.jpg' %}" class="rounded mx-auto d-block" alt="Restaurant">
            </article>

        </section>

        <section class="row  align-items-center my-5 bg-dark text-light shadow-lg">

            <article class="col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 p-5  text-justify">
                <h1 class="mb-4 text-justify">Eventos y Reuniones:</h1>
                <p class="text-justify">
                    Organiza tu próximo evento o reunión con nosotros y hazlo inolvidable. 
                    Nuestros espacios para eventos flexibles y nuestro equipo profesional de planificación garantizan que cada detalle de 
                    tu reunión se lleve a cabo sin problemas. Deja una impresión duradera con nosotros.
                </p>
                <a href="{% url 'events_reunion' %}"><button class="btn bg-primary mt-4 text-light">Leer más</button></a>
            </article>

            <article
                class=" col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 order-md-first order-sm-first order-first p-5">
                <img src="{% static 'img/services/conference-meeting.jpg' %}" class="rounded mx-auto d-block" alt="Events & Meetings">
            </article>

        </section>

        <section class="row  align-items-center my-5 white shadow-lg">

            <article class="col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 p-5 text-lg-end text-justify">
                <h1 class="mb-4 text-justify">Spa y Bienestar:</h1>
                <p class="text-justify">Rejuvenece en nuestro spa y centro de bienestar en el hotel. Nuestros terapeutas profesionales 
                    ofrecen una variedad de tratamientos y terapias para ayudarte a relajarte, desconectar y revitalizarte. Date un capricho 
                    y escapa del estrés de la vida cotidiana sin salir del hotel.</p>
                    <div class="text-start">
                    <a href="{% url 'spa' %}"><button class="btn bg-primary mt-4 text-light">Leer más</button></a>
            </div>
            </article>

            <article
                class="col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12 p-5 order-lg-last order-xl-last order-xxl-last order-sm-first order-md-first order-first ">
                <img src="{% static 'img/services/Los-mejores-spa-de-Galicia-900x900.jpg' %}" class="rounded mx-auto d-block" alt="Spa & Wellness">
            </article>

        </section>
    </main>
{% endblock %}
