{% extends 'base.html' %}
{% block content %}

    <main class="container p-5 white my-5 shadow-lg">
        <section class="row text-center">
            <article class="col-12">
                <h1 class="mb-5">Baños y relajation</h1> 
                <img src="{% static 'img/baths/bath_1.jpg' %}" alt="arte exhibición"
                    class="img-fluid shadow-lg w-50">             
            </article>
            <article class="col-12 my-5">


            </article>
            <article class="col-12 text-start p-5 bg-dark text-light">
                <h2>Descripción</h2>
                <hr>
                <p>
                    En nuestro spa, te invitamos a sumergirte en un oasis de relajación y revitalización donde podrás experimentar una variedad de baños terapéuticos diseñados para calmar el cuerpo y la mente.
                </p>
                <p>
                    Descubre una amplia gama de baños, cada uno con beneficios únicos para tu bienestar. Desde la aromaterapia hasta los baños de barro, tenemos todo lo que necesitas para rejuvenecer tu cuerpo y renovar tu espíritu.
                </p>
                <p>
                    Sumérgete en un mundo de sensaciones mientras exploras nuestras instalaciones y disfrutas de la experiencia única que ofrecen nuestros baños. ¡Ven y descubre el poder curativo del agua en nuestro spa!
                </p>
            </article>
            <article class="col-12 text-start p-5 border shadow-lg mt-5">
                <h2>Tipos de Baños</h2>
                <hr>
                <p>
                    Los baños de aromaterapia y hierbas consisten en añadir aceites esenciales y/o hierbas al agua del baño. Mientras te bañas, inhalas los aromas de lo que se ha añadido y dejas que el agua tibia alivie tus dolores y molestias.
                </p>
                <p>
                    Los baños de sal y minerales son conocidos por sus beneficios para la salud desde hace siglos. La gente aún viaja para encontrarlos y renovar su mente, cuerpo y alma, y tratar condiciones específicas, desde la psoriasis hasta la osteoartritis.
                </p>
                <p>
                    Los baños de flores implican añadir pétalos de flores y esencias al agua, ofreciendo diferentes versiones de esta experiencia, como el baño de flores japonés y el baño de flores indio.
                </p>
                <p>
                    Los baños de pies son un ritual previo al tratamiento favorito o parte de una suite termal, donde tus pies se sumergen en agua tibia con aceites herbales o vegetales para limpiarte y relajarte.
                </p>
                <p>
                    Los baños ozonizados utilizan agua limpia y oxigenada que burbujea alrededor de ti, proporcionando una sensación relajante en la piel.
                </p>
                <p>
                    Los baños de turba están llenos de proteínas y minerales que son beneficiosos para la piel, y pueden combinarse con otros ingredientes para hacer una pasta herbal con un olor agradable.
                </p>
                <p>
                    Los baños de barro y algas se sumergen en lodo o algas, lo que ayuda a desintoxicar y relajar los músculos, dejando la piel suave e hidratada.
                </p>
                <p>
                    Los baños de algas marinas, comunes en spas costeros, están llenos de vitaminas y minerales beneficiosos para la piel, y a menudo se combinan con aceites esenciales fragantes.
                </p>
            </article>
            
            <article class="col-12 text-start p-5">
                <h2>Testimonios</h2>
            </article>
            <hr>

        </section>
        <section class="row justify-content-center ">
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border p-5 m-3 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker.png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">La mejor experiencia de relajación que he tenido!</p>
                <p>María López</p>
            </article>
    
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border m-3 p-5 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker (1).png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">Ambiente increíble y baños impresionantes</p>
                <p>Javier García</p>
            </article>
    
            <article class="col-lx-3 col-lxx-3 col-lg-3  col-sm-12 border m-3 p-5 shadow-lg text-center">
                <img src="{% static 'img/portrait/AvatarMaker (2).png' %}" alt="" class="img-fluid rounded-5 portrait">
                <p class="my-3">¡No puedo esperar para volver!</p>
                <p>Elena Rodríguez</p>
            </article>
        </section>
    </main>
    

{% endblock %}